{% extends "@SGBlogCore/Default/layouts.html.twig" %}

{% block title %}{{ 'blog.index.page' | trans }}{% endblock %}

{% block body %}
    <div class="col-sm-8 blog-main">
        {% for post in posts %}
            <article>
                <h3><a href="{{ path('sg_blog_blog_index_show', {'slug': post.slug}) }}">{{ post.title }}</a></h3>
                <p>{{ post.body }}</p>
                <time datetime="{{ post.createdAt|date('c') }}">{{ post.createdAt|date() }}</time>
                <p>{{ render(controller("SGCommentCoreBundle:Comment:countCommentNumbers", {'post': post})) }}</p>
            </article>
        {% endfor %}
    </div>
{% endblock %}
