{% extends '@SGBlogCore/Default/layouts.html.twig' %}

{% block title %}{{ post.0.title }}{% endblock %}

{% block body %}
    <article>
        <h1>{{ 'blog.post%name%' | trans({'%name%': post.0.title}) }}</h1>
        <p>
            {{ post.0.body|nl2br }}
        </p>
        {% if post.0.updatedAt is empty %}
            <p>{{ 'blog.post.created'|trans }}<time>{{ post.0.createdAt|date() }}</time></p>
        {% else %}
            <p>{{ 'blog.post.updated'|trans }}<time>{{ post.0.updatedAt|date() }}</time></p>
        {% endif %}


        {#{{ render(controller('SGBlogAdminBundle:Comment:new')) }}#}
        {{ render(url('add_comment')) }}

        <div id="js-comments-wrapper"></div>
    </article>



{% endblock %}


{% block javascripts %}
    {{ parent() }}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.3/react.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.3/react-dom.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js"></script>
    <script src="{{ asset('bundles/sgblogblog/js/blog-dev.js') }}"></script>

    <script type="text/babel" src="{{ asset('bundles/sgblogblog/js/notes.react.js') }}"></script>

    {#<script type="text/babel">#}
        {#var commentsUrl = '{{ path('show_comments', {'slug': post.0.title}) }}';#}
        {#ReactDOM.render(#}
                {#<CommentSection url={commentsUrl} />,#}
            {#document.getElementById('js-comments-wrapper')#}
        {#);#}
    {#</script>#}
{% endblock %}


