{% extends '::base.html.twig' %}
{% block title %} Admin Zone {% endblock %}
{% block body %}
    <div class="container">
        <div class="col-xs-12">
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                {{ knp_menu_render('admin',{'currentClass': 'active','template': 'SGBlogCoreBundle:Menu:knp_menu.html.twig'}) }}
            </div>
        </div>
    </div>
{% endblock %}