{% extends '::base.html.twig' %}

{% block title %}{{ 'blog.core.title' | trans }}{% endblock %}

{% block header %}
    <div class="container">
        {{ render(controller('SGBlogCoreBundle:Header:header')) }}
    </div>
    <div class="container">
        <div class="col-xs-12">
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                {{ knp_menu_render('site',{'currentClass': 'active','template': 'SGBlogCoreBundle:Menu:knp_menu.html.twig'}) }}
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ 'locales'|trans }}
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            {% for locale in available_locales %}
                                {#{% if locale != app.request.locale %}#}
                                    <li>
                                        <a href="{{ path(app.request.attributes.get('_route'),
                                        app.request.attributes.get('_route_params') | merge({'locale':locale})) }}">
                                            {{ locale | trans }}
                                        </a>
                                    </li>
                                {#{% endif %}#}
                            {% endfor %}
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}

{% block body %}
    {{ parent() }}
{% endblock %}
{% block sidebar %}
    <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
        {{ render(controller('SGBlogCoreBundle:Sidebar:sideBar')) }}
    </div>
{% endblock %}

{#<section>#}
    {#{% for type, messages in app.session.flashbag.all() %}#}
        {#{% for message in messages %}#}
            {#<style>#}
                {#p.session-message{#}
                    {#padding: 5px;#}
                    {#background: #007D00;#}
                    {#color: #FFFFFF;#}
                {#}#}
            {#</style>#}
            {#<p class="session-message">{{ message }}</p>#}
        {#{% endfor %}#}
    {#{% endfor %}#}
    {#{% block section %}{% endblock %}#}
{#</section>#}
{% block sidebar %}{% endblock %}

