<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {% stylesheets
                '@bottstrap_css'
            %}
            <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}" />
            {% endstylesheets %}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
    {% block header %}
    {% endblock %}
    <div class="container">
        {% block body %}
        {% endblock %}
        {% block sidebar %}
        {% endblock %}
    </div>
    {% for type, messages in app.session.flashBag.all %}
        {% for message in messages %}
            <div>{{ message }}</div>
        {% endfor %}
    {% endfor %}
        {% block javascripts %}
            {% javascripts
            '@jquery' '@bootstrap_js'
            %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock %}
    </body>
</html>
