<div class="col-sm-3 col-sm-offset-1 blog-sidebar">
    <div class="sidebar-module sidebar-module-inset">
        <h4>Sidebar</h4>
        <p>
            сайдбар для выввода данных
        </p>
    </div>
</div>