{% for comment in comments %}
    <p>
        <h4>{{ comment.title }}</h4>
        <p>{{ comment.body }}</p>

    {% if is_granted['EDIT', comment] %}
        <p>
            <a href="{{ path('sg_blog_blog_comment_edit', ('id': comment.id)) }}">
            {{ 'edit'|trans }}
            </a>
        </p>
    {% endif %}
    </p>
{% endfor %}