{% extends 'base.html.twig' %}

{% block body %}
    <h1>Post creation</h1>

    {{ form_start(form) }}
        {#{{ form_widget(form) }}#}
        {{ form_row(form.title) }}
        {{ form_row(form.body) }}
        {{ form_row(form.user) }}
        {{ form_row(form.category) }}
            {#<ul class="comments" data-prototype="{{ form_widget(form.comments.vars.prototype)|e }}">#}
                    {#{{ form_row(form.comments) }}#}

                {#{% for comment in form.comments %}#}
                    {#<li>{{ form_row(comment.comment) }}</li>#}
                {#{% endfor %}#}
            {#</ul>#}

    {#<ul data-prototype="{{ _self.widget_prototype(form.comments, 'Remove comment')|escape }}">#}
        {#{% for widget in form.comments.children %}#}
            {#{{ _self.widget_prototype(widget, 'Remove contact') }}#}
        {#{% endfor %}#}
        {#<a class="btn-add btn btn-default" data-target="contacts">Add contact</a>#}
    {#</ul>#}
        <input type="submit" value="Create" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('admin_post_index') }}">Back to the list</a>
        </li>
    </ul>

{% endblock %}


{% macro widget_prototype(widget, remove_text) %}
    {% if widget.vars.prototype is defined %}
        {% set edit_form = widget.vars.prototype %}
        {% set name = widget.vars.prototype.vars.name %}
    {% else %}
        {% set edit_form = widget %}
        {% set name = widget.vars.full_name %}
    {% endif %}

    <div data-content="{{ name }}"  class="panel panel-default">
        <div class="panel-body">
            {{ form_row(edit_form.comment) }}
            <a class="btn-remove btn btn-danger" data-related="{{ name }}">{{ remove_text }}</a>
        </div>
    </div>
{% endmacro %}

{% block javascripts %}

    {{ parent() }}
    <script type="application/javascript">
        // setup an "add a tag" link
        var $addcommentLink = jQuery('<a href="#" class="add_comment_link">Add a comment</a>');
        var $newLinkLi = jQuery('<li></li>').append($addcommentLink);

        jQuery(document).ready(function() {
            // Get the ul that holds the collection of tags
            var $collectionHolder = jQuery('ul.comments');

            // add the "add a comment" anchor and li to the comments ul
            $collectionHolder.append($newLinkLi);

            // count the current form inputs we have (e.g. 2), use that as the new
            // index when inserting a new item (e.g. 2)
            $collectionHolder.data('index', $collectionHolder.find(':input').length);

            $addcommentLink.on('click', function(e) {
                // prevent the link from creating a "#" on the URL
                e.preventDefault();

                // add a new comment form (see code block below)
                addcommentForm($collectionHolder, $newLinkLi);
            });


        });

        function addcommentForm($collectionHolder, $newLinkLi) {
            // Get the data-prototype explained earlier
            var prototype = $collectionHolder.data('prototype');

            // get the new index
            var index = $collectionHolder.data('index');

            // Replace '$$name$$' in the prototype's HTML to
            // instead be a number based on how many items we have
            var newForm = prototype.replace(/__name__/g, index);

            // increase the index with one for the next item
            $collectionHolder.data('index', index + 1);

            // Display the form in the page in an li, before the "Add a comment" link li
            var $newFormLi = jQuery('<li></li>').append(newForm);

            // also add a remove button, just for this example
            $newFormLi.append('<a href="#" class="remove-comment">x</a>');

            $newLinkLi.before($newFormLi);

            // handle the removal, just for this example
            jQuery('.remove-comment').click(function(e) {
                e.preventDefault();

                jQuery(this).parent().remove();

                return false;
            });
        }
    </script>

    <script>
        jQuery(function($) {
            $(document).on('click', '.btn-add[data-target]', function(event) {
                var collectionHolder = $('#' + $(this).attr('data-target'));

                if (!collectionHolder.attr('data-counter')) {
                    collectionHolder.attr('data-counter', collectionHolder.children().length);
                }

                var prototype = collectionHolder.attr('data-prototype');
                var form = prototype.replace(/__name__/g, collectionHolder.attr('data-counter'));

                collectionHolder.attr('data-counter', Number(collectionHolder.attr('data-counter')) + 1);
                collectionHolder.append(form);

                event && event.preventDefault();
            });

            $(document).on('click', '.btn-remove[data-related]', function(event) {
                var name = $(this).attr('data-related');
                $('*[data-content="'+name+'"]').remove();

                event && event.preventDefault();
            });
        });
    </script>
{% endblock %}